<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HedgehogDevelopment.SitecoreProject.Service.Configuration" type="HedgehogDevelopment.SitecoreProject.Service.ServiceConfiguration, HedgehogDevelopment.SitecoreProject.Service" requirePermission="false" />
  </configSections>
  <HedgehogDevelopment.SitecoreProject.Service.Configuration accessGuid="0d68bc4b-d2c4-4faf-b39c-8f44227a54d2" />
</configuration>
